*.json text eol=lf
*.md text eol=lf
*.jsonl text eol=lf
*.ndjson text eol=lf
*.py text eol=lf
*.SHA256SUMS text eol=lf
SHA256SUMS text eol=lf
*.sha256 text eol=lf
*.txt text eol=lf
uv.lock text eol=lf
